@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto:ital,wght@0,300;0,400;0,900;1,300&display=swap');

:root {
    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --Gris_oscuro: #666;
    --Gris_claro: #ebebeb;
    --Verde: #39b54a;
    --Celeste2: #0045ab;
}

*{
    margin: 0px; 
    padding: 0px;   
    box-sizing: border-box; 
}


body {
    font-family: 'Roboto', sans-serif;
    
}

/* ################# Section Header ##############*/

.main-header{
    background-color:var(--Amarillo);
    padding: 20px;
    /* position: fixed;
    top:0;
    left:0;
    z-index: 100; */
   
}

.main-header-top-bar{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap;  */
}

.top-bar-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
   
}

.copy-header{
    font-weight: 400;
    width: 100%;
    font-size: 15px;
    margin-top: 10px;
    margin:  15px 0px;
    text-align: center;
}



.hamburguer-button{
    background-color:  blue;
    color: white;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 25px;
    margin:auto;
}

.main-navbar{
    display: none;
}

.main-navbar ul{
    list-style: none;
    margin:0;
    padding: 0;
}

.main-navbar a{
    text-decoration: none;
    color: #222222 ;
    display:inline-block;
    padding: 5px 0;
    font-size: 17px;   
}

.search-bar{
    display:flex; 
}

.Buscador{
    width: 85%;
}

.search-buttom{
    width: 15%;
}

.search-bar{
width:45%;
}

.logo{
    width:45%;
}


/* ################## Seccion Section #####################*/
.grid_producto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grid_producto article{
    width: 95%;
}


.price_disc{
    display: flex;
    /* justify-content: space-between; */
    margin-top: 10px;
}

.bottomline{
    margin-top: 40px;

    }

.bottomline div{
margin: 15px 10px;
}

.bottom {
  
    justify-content: space-between;
    margin-top: 10px;
}



footer p {
    font-size: 12px;
}

.banner{
    width: auto;
    /* margin-top:190px */
    
    
}

h3,
.description{
    color: #666;
}

.imagen{
    width: 15%;
    height: auto;
}

main section article i{
    color: #39b54a;
    width: 70%;
}

.last-offer{
    margin: 15px 2px;
}

.img-art {
    width: 100%;
}
/* logo del camion de compras */

main section article i{
    display: block; 
    font-size: 16px; 
    padding: 5px; 
    width: 30px; 
    height: 30px; 
    border: 1px solid #39b54a; 
    background-color: #FFF; 
    border-radius: 50%; 
    position: absolute;
    right: 20px; 
    top: -15px; 

}



.price {
    font-size: 18px;
    width:55%
    
    
}

.discount {
    font-size: 16px;
    color: var(--Verde);
    /* margin-bottom: 10px; */
    width:40%

}

.product {
    display: none;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 300;
}




.banner img{
    width: 100%;
}



footer {
    text-align: center;
}

.bottom i {
    color: blue;

}

footer h4 {
    margin-bottom: 0px;
}

main {
    width: 90vw;
    margin: auto;

}

.main-loggin{
    width: 90vw;
    margin: auto;
    display: flex;
    justify-content: center;
}

.articulos {
    margin: 10px;
    border: solid 6px var(--Gris_claro);
    padding: 10px;
}

.articulo_descripcion {

    border-top: solid 1px #ebebeb;
    padding: 15px;
    background: white;
    position: relative;
}



.Nav-Opciones,
.Nav-Login {
    display: none;
}

.button-control button{

        background-color: var(--Verde);
        border: none;
        font-size: 18px;
        color: white;
        padding: 5px 10px;
        border-radius: 10px;
        margin: 2px 0px;
        transition: all 2s ease-in-out;
}

.register-form{
    box-shadow: 0px 0px 10px rgb(100 100 100);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    margin: 15px 0px;
    background:#c1cacd;
    max-width: 400px;
    width: 75%;
    
}

.register-form div{
  margin: 5px 0px;
}
.form-control, form-control-option{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px 0;
}
.register-form .form-control label{
    margin-bottom: 5px;
}

.form-control label, .form-control-option label{
    font-weight: 600;
}

.form-control p{
    margin-bottom: 10px;
   
}

.form-option{
    display:flex;
    flex-direction: column;
}

.bottom {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}


.Password-label,
.name-label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Forgot-password{
    text-align: center;
}

@media (min-width: 726px){
    /* Header */
    .main-header-top-bar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
       
    }
    .top-bar-container {
        display: flex;
        align-items: center;
        width: 50%;
    }
    .copy-header{
        text-align: right;
        width: 50%;
    }
    .hamburguer-button{
        display: none;
    }
    .main-navbar{
        display: flex;
        justify-content: space-between;
    }
    .main-navbar ul{
        display: flex;
    }
    .main-navbar li{
        margin: 0 10px;
    }
    .search-bar{
        display:flex;
        
    }
    main section article .product {
        display: block;
    }
    .buscador{
        width:90%
    }
    .search-buttom{
        width:10%
    }
    .articulos {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .Nav-Opciones,
    .Nav-Login {
        display: block;
    }

    .burger-menu {

        display: none;
    }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .Nav-Opciones,
    .Nav-Login {
        display: block;
    }

    .burger-menu {

        display: none;
    }
    /* Section */
    .grid_producto{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        /* align-items: center; */
    }
    .grid_producto article{
     width: 45%;
    }



    footer div{
        margin : 10px 0;
    }

    .register-form{
        max-width: 400px;
    }
}





@media (min-width:1200px){


    .main-navbar li{
        margin: 0 15px;
    }
    .main-navbar a{
        font-size: 20px;
    }
    .copy-header{
        max-width: none;
        font-size: 25px;
        text-align: right;
    }   


    .main-navbar {
        margin-top: 10px;
    }


    .articulos {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .Nav-Opciones,
    .Nav-Login {
        display: block;
    }

    .burger-menu {

        display: none;
    }
    .grid_producto article{
        width: 20%
    }
    .articulos{
        height: 285px;
        overflow: hidden;
        transition: all 0.5s ease-in-out;
    }
    .articulos:hover{
        height: 325px;
        box-shadow: 0px 0px 25px rgb(216, 50, 50);
    }
    main section article i:hover{
        transform:rotate(-90deg);
    }
    .bottomline .bottom{
        
        flex-direction: row ;
        justify-content: space-between;
        }

    .bottom i{
        transition: all 450ms;
    }


    .bottom i:hover{
        color:red
    }
    .button-control button:hover{

        background-color: #0022AA;
        border-radius: 35%;
    }
}
